.left-arrow{
    width: 40px!important;
    opacity: 0.6;
}
.right-arrow{
    width: 50px!important;
}
.arrow-div{
    text-align: right;
    position: absolute;
    width: 100%;
    margin-top: -250px;
}

@media (max-width:983px){
    .arrow-div{
        margin-top: -150px;
    }
}

@media (max-width:768px){
    .arrow-div{
        margin-top: -380px;
    }
}
@media (max-width:340px){
    .arrow-div{
        margin-top: -480px;
    }
}
