:root{
    --blue: #1A1EC6;
    --gray: #989798;
    --red: #E8574E;
    --yellow: #F3C30E;
}
a{
    text-decoration: none!important;
    color: var(--gray);
}
.custom-color-blue{
    color: var(--blue)!important;
}
.custom-color-gray{
    color: var(--gray);
}
.custom-color-red{
    color: var(--red);
}
.custom-color-yellow{
    color: var(--yellow);
}
.custom-blue-bg{
    background-color: var(--blue)!important;
}

.custom-50vh{
    height: 50vh;
}
.custom-100vh{
    height: 100vh;
}
.custom-60vh{
    height: 60vh;
}

.circle-20{
    border-radius: 20px!important;
}

.shadow-effect{
    box-shadow: 2px 4px 10px 3px #e0e0e0;
}

/* 
top to bottom  gradient for subscribe

#FDFEFD

#EAEEFF

*/

*{
    margin: 0;
    padding: 0;
}